# Sharpe Ratio and Portfolio Values

Comparative analysis of the well known companies from the GameDev industry listed on NASDAQ and the Polish company CD Project, listed on WSE, the creator of among other The Witcher games.

In [1]:
# Importing libraries
import pandas as pd
import quandl

## Create a portfolio of compared companies

In [2]:
# Set time frames for analysis
start = pd.to_datetime('2009-01-01')
end = pd.to_datetime('2019-03-29')

In [3]:
# Get a stock data for portfolio

# Activision Blizzard Inc. (ATVI)
atvi = quandl.get('WIKI/ATVI', start_date=start, end_date=end)

# Take-Two Interactive Software Inc. (TTWO)
ttwo = quandl.get('WIKI/TTWO', start_date=start, end_date=end)

# Electronic Arts Inc. (EA)
ea = quandl.get('WIKI/EA', start_date=start, end_date=end)

# CD PROJEKT Capital Group (CDP)
cdp = quandl.get("WSE/CDPROJEKT", start_date=start, end_date=end)

In [11]:
atvi.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2009-01-02,8.78,9.16,8.51,9.12,8077100.0,0.0,1.0,8.025906,8.373269,7.779096,8.336705,8077100.0
2009-01-05,9.00,9.07,8.62,8.75,8074400.0,0.0,1.0,8.227011,8.290999,7.879648,7.998483,8074400.0
2009-01-06,8.81,8.89,8.14,8.18,24157500.0,0.0,1.0,8.053330,8.126459,7.440874,7.477439,24157500.0
2009-01-07,8.20,9.42,8.18,9.08,44055500.0,0.0,1.0,7.495721,8.610938,7.477439,8.300140,44055500.0
2009-01-08,9.25,9.62,8.86,9.26,22458800.0,0.0,1.0,8.455539,8.793761,8.099035,8.464680,22458800.0

In [12]:
cdp.head()

,Open,High,Low,Close,%Change,Volume,# of Trades,Turnover (1000)
Date,,,,,,,,
2013-01-04,6.62,6.75,6.58,6.64,-1.48,156712.0,241.0,1043.46
2013-01-07,6.64,6.80,6.60,6.70,0.90,262704.0,357.0,1767.23
2013-01-08,6.60,6.75,6.60,6.70,0.00,184512.0,181.0,1233.58
2013-01-09,6.73,6.87,6.65,6.67,-0.45,274169.0,400.0,1852.69
2013-01-10,6.67,6.70,6.58,6.66,-0.15,200359.0,261.0,1331.66